.table{
    width: 100%;
    margin: 0px 0px 100px 0px  ;
    
        border-collapse: separate; /* Required for border-spacing to work */
        border-spacing: 0 40px; /* 0px for columns, 10px for rows */
    overflow: hidden;
    padding: 5px ;
    
}
.table thead tr th{
    padding: 14px ;
    font-size: 30px ;
    text-align: center;
}


.table thead tr{
    border-radius: 6px ;
    outline :6px solid rgba(212, 68, 68, 0.8) ;
}
.table tbody tr{
    border-radius: 10px ;
    outline: 2px solid rgba(0, 0, 0, 0.511);
    overflow: hidden !important;
}
.table tbody tr td,
.table tbody tr td div
{
    padding: 24px ;
    text-align: center;
    font-family: Poppins;
    text-transform: capitalize;
    font-weight: 500;
}
.table tbody tr td div{
    display: flex;
    align-items:center ;
    
    justify-content: center;
    width: fit-content;
    margin: auto;
    gap: 10px ;
    padding: 6px 12px ;
    border-radius: 30px;
}
.table tbody tr td span{
width: 20px ;
height: 20px ;
background-color: red;
display: flex;
border-radius: 50%;
}

.pinding{
    background-color: rgba(255, 166, 0, 0.1);
    color: orange !important;;
    box-shadow: 0px 0px 2px ;
}
.pinding span{
    background-color: orange !important;
}



.deliverd{
    background-color: rgba(0, 255, 0, 0.1);
    color: lime !important;;
    box-shadow: 0px 0px 2px ;
}

.deliverd span{
    background-color: lime !important;
}

.cancele{
    background-color: rgba(255, 0, 0, 0.1);
    color: red !important;;
    box-shadow: 0px 0px 2px ;
}

.cancele span{
    background-color: red !important;
}


.table tbody tr{
    position: relative;
    overflow: hidden;
}

.canceleBtn{
    position: absolute;
    top: 0px ;
    right: 0px ;
    background-color: red;
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: white;
    font-weight: 700;
    border-radius:0px 10px 10px 0px   ;
    opacity: 0;
    transition: 300ms;
    cursor: pointer;
}


.table tbody tr:hover .canceleBtn{
    opacity: 1;
}