.container{
    height: 100dvh;
    overflow: hidden;
    padding: 0px ;
    margin: 0px ;
}
.halfStart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    
}
.colorHalf{
    
    display: flex;
    align-items: center;
    justify-content: end;
}
.colored{
    height: 100dvh;
    width: 80%;
    background-color: hsla(0, 68%, 56%, 0.5);
    display: flex;
    align-items: end;
    justify-content: start;
    position: relative;
}

.svg
{
    position: absolute;
    width:80%;
    height: 80%;
    bottom: -1px ;
    left: -39% ;
    
}

.line{
    position: absolute;
    bottom: 26px ;
    right: 0px ;
    background-color:var(--primary) ;
    width: 90%;
    height: 4px ;
    border-radius: 5px ;
}

@media screen and (max-width:900) {
    .line{
        background-color: aquamarine !important;
    }
}