.CartCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 175px ;
    flex-wrap: wrap;
    padding: 100px 0px;
}



@media screen and (max-width:1200px) {
    .CartCont{
        gap: 50px; 
    }
}